.about {
    padding: 0px 20px;
}

.about .wrapper {
    width: 100%;
    max-width: 1366px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
}

.about .wrapper .text {
    flex: 2;
}

.about .wrapper .text h1 {
    font-family: "Dancing Script", cursive;
}
.about .wrapper .text p {
    font-family: "Josefin Sans", sans-serif;
    padding: 10px;
    font-size: 1.2rem;
    line-height: 25px;
}