.post{
    flex: 9;
    margin-bottom: 30px;
}
.posts .post{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px;
}

.posts h1 {
    font-family: "Luckiest Guy", cursive;   
}

.postd p {
    padding: 5px;
    font-family: "Arvo", serif;
}
.posts .authorAndDate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.posts .authorAndDate span:nth-child(1) {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
}
.posts .authorAndDate span:nth-child(2) {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
}

/* Scroll animation */

.posts .post {
    transform: translateX(-20px);
    opacity: 0;
    transition: all 0.5s;
}
.posts .post.active {
    transform: translateX(0px);
    opacity: 1;
}







